/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}
.overFlowHideen {
  overflow: hidden;
}
body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black !important;
  text-decoration: none !important;
}
.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
.product .btn {
  transition: transform 0.5s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.fit-content{
  width: fit-content;
}
.navbar-nav .nav-link.active {
  color: white !important;
  font-weight: bold;
  background-color: #0aad0a;
  border-radius: 8px;
  padding-left:10px ;
  padding-right: 10px;
}
.navbar-nav .nav-item{
  width: fit-content;
}
.navbar-nav .nav-link {
  transition: 0.3s;
}
.navbar-nav .nav-link:not(.active):hover {
  color: var(--main-color) !important;
}

.linkItem{
  transition: 0.3s;
}
.linkItem:hover{
  color: var(--main-color) !important;
}

/*loader*/
.loading-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}

.border-main {
  border: 1px solid var(--main-color);
}
.border-main:hover {
  color: white !important;
  background-color: var(--main-color);
}
.btn:hover {
  border-color: var(--main-color) !important;
}
.border-none{
  border: none !important;
}

.offline{
  color: white;
  padding: 5px;
  font-size: 15px;
  position: fixed;
  min-height: 50px;
  width: 200px;
  margin: 10px auto;
  background-color: #222;
  border-radius: 3.5px;
  border-bottom: 1px solid #000;
  box-shadow: 0 4.5px 5px rgba(0,0,0,0.4);
  text-align: center;
  cursor: default;
  transition: 0.5s ease;
  bottom: 100px;
  right: 100px;
}
.offline p{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.slick-dots{
  bottom: -25px !important;
}
.slick-dots li button:before {
  height: 9px !important;
  background-color: #c4c1c1;
  content: "" !important;
  border-radius: 3px;
}



.slick-active{
  outline: none !important;
}
@media(min-width:992px){
  .img-respons{
    max-height: 130px;
  }
}

@media(max-width:992px){
  .img-respons{
    max-height: 80px;
  }
  .p-response{
    font-size: 13px;
  }
  .li-nav{
    margin-top: 15px;
  }
  .a-nav{
    margin: 0px !important;
  }
}
@media(max-width:768px){
  .img-respons{
    max-height: 70px;
  }
}
@media(max-width:530px){
  .img-respons{
    max-height: 46px;
  }
  .p-response{
    font-size: 10px;
  }
}


.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.pagination .page-num {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  
}

.pagination .page-num:hover {
  background-color: #0aad0a;
  color: #fff!important;
  border-color: #0aad0a;
}

.pagination .active .page-num {
  background-color: #0aad0a;
  color: #fff !important;
  border: 1px solid #0aad0a;
}

.forgetPass{
  text-decoration: underline!important;
  color: blue!important;
}
.forgetPass:hover{
  text-decoration: underline!important;
  color: blue!important;
}

.colomns{
  columns: 4;
}
.colomns-son{
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
}
.colomns-son-style{
 top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.colomns-son:hover .colomns-son-style{
top: 0;
}
.colomns-son img{
  transition: 0.3s;
}
.colomns-son:hover img{
  scale: 1.2;
}

/* scrollbar */
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: #ddd;
}
::-webkit-scrollbar-thumb{
  background-color: #0aad0a;
  border-radius: 15px;
  
}


/*------------------*/